/* CSS Reset */
* {
	Font-family: 'Open Sans','PT Sans', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
.shy-id{
	width: 200px;
	height: 200px;
}
main{
	background-color: rgba(89,214,138,0.6);
}
section{
	border-radius: 15px;
}
p{
	font-size: 1.1rem;
}
h1,h3{
	color: #FFF;
}
#contact img{
	width: 30px;
	height: 30px;
}
#tools,#projects, #contact, #home, #landing{
	background-color: rgba(214,138,89,0.9);
	padding-top: 2rem;
}
#projects > p{
	font-family: 'Roboto', sans-serif;
}
#tools img{
	width: 100px;
	height: 100px;
}

nav{
	background-color: rgba(138,89,214,0.9);
	color: #FFF;
}
iframe{
	display: inline-block;
	width: 40vw;
	height: 30vh;
	border-radius: 25px;
	border:0;
}
